
/*Estilo para la cabecera index */
.bg-light-blue {
    background-color: #87CEEB; /* Azul celeste */
    color: white; /* Asegura que el texto sea blanco */
}

.favorito-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.card {
    position: relative;
}

.favorito {
    border: 2px solid gold;
    background-color: #fff8dc;
}